<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eGalvanic Smoke Test Suite" verbose="1">

    <test name="Auth Smoke Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.AuthSmokeTestNG"/>
        </classes>
    </test>

    <test name="Full Authentication Tests (38 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.AuthenticationTestNG"/>
        </classes>
    </test>

    <test name="Connection Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.ConnectionSmokeTestNG"/>
        </classes>
    </test>

    <test name="Site Selection Smoke Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.SiteSelectionSmokeTestNG"/>
        </classes>
    </test>

    <test name="Full Site Selection Tests (52 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.SiteSelectionTestNG"/>
        </classes>
    </test>

    <test name="Asset Smoke Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.AssetSmokeTestNG"/>
        </classes>
    </test>

    <test name="Full Asset Tests Part 1 (30 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.AssetPart1TestNG"/>
        </classes>
    </test>

    <test name="Full Asset Tests Part 2 - Edit Details (40 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.AssetPart2TestNG"/>
        </classes>
    </test>

    <test name="Full Asset Tests Part 3 - Edit Details (76 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.AssetPart3TestNG"/>
        </classes>
    </test>

    <test name="Full Asset Tests Part 4 - Edit Details (62 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.AssetPart4TestNG"/>
        </classes>
    </test>

    <test name="Full Asset Tests Part 5 - Edit Details (65 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.AssetPart5TestNG"/>
        </classes>
    </test>

    <test name="Work Order Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.WorkOrderSmokeTestNG"/>
        </classes>
    </test>

    <test name="Issues Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.IssuesSmokeTestNG"/>
        </classes>
    </test>

    <test name="Location Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.LocationSmokeTestNG"/>
        </classes>
    </test>

    <test name="Full Location Tests (55 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.LocationTestNG"/>
        </classes>
    </test>

    <test name="Bug Hunt &amp; Security Tests (30 TCs)">
        <classes>
            <class name="com.egalvanic.qa.testcase.BugHuntTestNG"/>
        </classes>
    </test>

    <test name="API Authentication Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.api.AuthenticationAPITest"/>
        </classes>
    </test>

    <test name="API User Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.api.UserAPITest"/>
        </classes>
    </test>

    <test name="API Security Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.api.APISecurityTest"/>
        </classes>
    </test>

    <test name="API Performance Tests">
        <classes>
            <class name="com.egalvanic.qa.testcase.api.APIPerformanceTest"/>
        </classes>
    </test>

</suite>
